<app-nav-bar></app-nav-bar>
<h5> Lista De Tarifas</h5>
<div  class="content-container">
    <div class="container-fluid">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>PasajeroId</th>
                    <th>Limete Diario</th>
                    <th>Definicion Diaria</th>
                    <th>Limite Semanal</th>
                    <th>Definicion Semanal</th>
                    <th>Limite Mensual</th>
                    <th>Definicion Mensual</th>
                </tr>
            </thead>
            <tbody *ngFor="let d of receiveddata; let i = index;">
                <tr [ngSwitch]="d.tipoPeriodo">
                    <td *ngSwitchCase='1'>Pasajero Id - {{d.pasajeroId}}</td>
                    <td *ngSwitchCase='1'>{{d.limite}}</td>
                    <td *ngSwitchCase='1'>{{d.definicionDiaria}}</td>
                    <td *ngSwitchCase='2'>{{d.limite}}</td>
                    <td *ngSwitchCase='2'>{{d.definicionSemanal}}</td>
                    <td *ngSwitchCase='3'>{{d.limite}}</td> 
                    <td *ngSwitchCase='3'>{{d.definicionMensual}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- {{receiveddata|json}} -->

